/* =========================
EFAAC - AGRICULTURAL CONSULTING COMPANY
CREATED BY: TSEBANG MADUNA(SYNAPTUM TECHNOLOGIES GROUP - SOFTWARE DEVELOPER)
========================= */


*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

html{
  scroll-behavior:smooth;
}
html,body{
    width: 100%;
    overflow-x: hidden;
}
body{
  overflow-x:hidden;
  background:#f8f9fa;
}

@media(max-width:991px){

  .hero-section{
    text-align:center;
  }

  .hero-img{
    margin-top:40px;
  }

}

@media(max-width:768px){

  .display-3{
    font-size:2.5rem;
  }

  .contact-card,
  .contact-info{
    padding:30px;
  }
  *{
    max-width: 100%;
  }

  .nav-logo{
    height:45px;
  }

}

img{
  max-width:100%;
  height: auto;
  display: block;
}

.row{
  margin-left:0;
  margin-right:0;
}

.custom-navbar{
  background:rgba(0,0,0,0.4);
  transition:0.3s;
  width: 100%;
  left: 0;

  overflow: hidden;
}

.custom-navbar.scrolled{
  background:#0B5D1E;
}

.navbar-brand{
  font-size:1.8rem;
}

.nav-link{
  color:white !important;
  margin-left:15px;
}

.nav-logo{
  height:100px;
  width:auto;

  object-fit:contain;
}

.hero-section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    background:
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url('../images/hero-main.webp') no-repeat;

  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
  padding-top:100px;
  padding-bottom: 60px;
}

.hero-img{
    width: 100%;
    /*max-width: 550px;*/
    max-width: 100%;
    border-radius:25px;
    box-shadow:0 20px 45px rgba(0,0,0,0.35);
    max-height: 550px;
    object-fit: cover;
    margin: auto;
}

.hero-content{
  background: rgba(255,255,255,0.08);

  backdrop-filter: blur(10px);

  padding: 40px;

  border-radius: 25px;
}

.section-title{
  font-weight:700;
  color:#0B5D1E;
  margin-bottom:20px;
}

.service-card{
  border:none;
  border-radius:20px;
  padding:20px;
  transition:0.4s;
  box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.service-card:hover{
  transform:translateY(-10px);
}

.service-icon{
  font-size:3rem;
  color:#0B5D1E;
}

.why-box p{
  font-size:1.1rem;
  margin-bottom:20px;
}

.contact-card{
  background:white;
  padding:40px;
  border-radius:20px;
  box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.contact-info{
  background:#0B5D1E;
  color:white;
  padding:40px;
  border-radius:20px;
  height:100%;
}

.contact-info p{
  margin-bottom:25px;
  font-size:1.1rem;
}

.footer{
  background:#0B5D1E;
  color:white;
  padding:60px 0;
}

.socials i{
  font-size:1.4rem;
  cursor:pointer;
}

.whatsapp-btn{
  position:fixed;
  bottom:20px;
  left:20px;
  background:#25D366;
  color:white;
  width:60px;
  height:60px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:50%;
  font-size:1.8rem;
  text-decoration:none;
  animation: pulse 2s infinite;
  z-index:999;
}

.whatsapp-btn:hover{
  transform:scale(1.1);
  transition:0.3s;
  color:white;
}

@keyframes pulse{

  0%{
    box-shadow:0 0 0 0 rgba(37,211,102,0.7);
  }

  70%{
    box-shadow:0 0 0 15px rgba(37,211,102,0);
  }

  100%{
    box-shadow:0 0 0 0 rgba(37,211,102,0);
  }

}

#backToTop{
  position:fixed;
  right:20px;
  bottom:20px;
  border:none;
  background:#0B5D1E;
  color:white;
  width:55px;
  height:55px;
  border-radius:50%;
  display:none;
  z-index:999;
}

.form-control{
  padding:14px;
  border-radius:12px;
}

.btn-success{
  background:#0B5D1E;
  border:none;
}

.btn-success:hover{
  background:#084417;
}

